<!DOCTYPE html>
<html>
<head>
  <title>AuthNoah</title>
</head>
<body>

<%= yield %>

</body>
</html>


<%
# add these back into the head tag when ready
# stylesheet_link_tag    "application"
# javascript_include_tag "application"
#  csrf_meta_tags
%>
